<button  class="btn btn-danger" (click)="open(classic,'' , '')">
    Yeni Todo Ata
</button>

<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up"> <i class="fi-rr-add"></i> Yeni Todo Ata</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="todoAppointeForm">
            <div>
                <div class="form-group">
                    <input type="text" value="" id="employeeId" formControlName="employeeId" placeholder="Çalışan Id:"
                        class="form-control" />
                </div>
               
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Kapat</button>
        <button type="button" class="btn btn-danger" (click)="Appointe()"  >Ekle</button>
    </div>
</ng-template>